@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  } */
  

.container {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5rem;
}

.location {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.weather-display {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.weather-display img {
    width: 6rem;
}

.card {
    background-color: #DD88CF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    gap: 1.5rem;
}

.card img {
    width: 54px;
}

.cards {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}
